
<h1>Get stuff done faster!</h1>
<div class="activity" align="left">
<table width="100%" style="border-collapse: collapse" bordercolor="#111111" cellpadding="3" cellspacing="0">
              <tr>
                <td width="40">
                <p align="center"><img border="0" src="images/avatar4.jpg" width="35" height="35"></td>
                <td>
                <p align="left"><font><a href="profile-tiviti.html">Team Tiviti</a> 
                needs your help with <a href="activity_detail.html">completing your profile</a></font></b></td>
                <td width="1%">
                <p align="left"><img border="0" src="images/divider.jpg" width="1" height="35"></td>
                <td width="4%" align="left">
                <p>
                <img border="0" src="images/status-off.jpg" width="16" height="16"></td>
              </tr>
            </table>
</div>
<p>
   This is the home page for the
   <a href="http://railstutorial.org/">get stuff done with titivi</a>
   sample application.
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>