
<h1>title goes here</h1>
<p>
   This is the home page for the
   <a href="http://railstutorial.org/">get stuff done with titivi</a>
   sample application.
</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>