<header>
  <%= link_to image_tag("tiviti-logo.jpg", :alt => "tiviti", :class => "round"), root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", signup_path %></li>
    </ul>          
  </nav>
</header>
