<!--   
   <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%">
       <tr>
          <td width="100%">
          <div align="center">
            <center>
            <div class="nav">
            <table>
              <tr>
                <td>
                <b>
                    <font color="#CCFF99">
                    home</font></b></td>
                <td>
                <font><a href="activities.html">all activities</a></font></td>
                <td>
                <font><a href="myteam.html">my team</a></font></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            </center>
          </div>
          </td>
        </tr>
        </table>
-->