<!-- START MASTHEAD -->

<!-- this is the structure and background behind everything in the general header area -->
<div class="masthead">
          <center>
		<table>
  			<tr>
    			<td>&nbsp;
    			</td>
    			<td style="width: 920">

            <!-- START HEADER AREA -->

            <div class="header">
            <table width="100%">
            <tr>
            <!-- START LOGO CEL -->
            <td align="center" width="15%">
            	<a href="index.html">
	            <img src="images/logo_tiviti.png" border="0" width="112" height="52"></a>
            </td>

            <!-- END LOGO CEL -->

            <td width="60%" align="center">

          	<!-- START NAVIGATION -->

      		<div class="nav">
      		<table width="100%">
   			<tr>
	   			<td width="20%" align="center">
        			<b>
             			<font color="#CCFF99">home
                			</font>
                			</b>
                			</td>
                			<td width="20%" align="center">
                			<font>
                			<a href="activities.html">all activities</a>
                			</font>
                			</td>
                			<td width="20%" align="center">
                			<font>
                			<a href="myteam.html">my team</a>
                			</font>
                			</td>
                			<td width="20%">&nbsp;
                			</td>
                			<td width="20%">&nbsp;
                			</td>
              			</tr>
          			</table>
          			</div>
  	
          			<!-- END NAVIGATION -->
         	
                </td>
                <td width="25%" align="right">
				<!-- START AUXILIARY NAV -->
      			<table>
        			<tr>
          			<td valign="bottom">
          			<p align="right"><b><font>Jon Nakasone</font></b></font></td>
          			<td rowspan="2" width="2"></td>
          			<td rowspan="2">
          			<img border="0" src="images/avatar2.jpg" width="50" height="50"></td>
          			</tr>
        			<tr>
          			<td valign="top">
          			<p align="right"><font>
          			<a href="account.html">my account</a>&nbsp; <font color="#CCCCCC">|
          			</font>&nbsp;<a href="signout.html">sign out</a></font></td>
        			</tr>
      			</table>
      
      			<!-- END AUXILIARY NAV -->
      
                	</td>
              	</tr>
          	</table>
          	</div>
          	
	      	<!-- END HEADER AREA -->
          	
    		</td>
    		<td>&nbsp;</td>
  			</tr>
  		</table>
	      </center>
        </div>
	</div>

<!-- END MASTHEAD -->